[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/doks"]
	path = themes/doks
	url = https://github.com/thuliteio/doks
